
:root{
    --black: #000000;
    --blue: #63B1FC;
    --orange: #FF9900;
    --grey: #7D7987;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#hero{
    width: 592px;
    margin: auto;
}

#main-text{
    margin-top: 76px;
}

#main-title{
    line-height: 56px;
    font-weight: normal;
    font-size: 49px;
    font-family: 'Inter', sans-serif;
}

p{
 color: var(--grey);
 line-height: 30px;
 margin-bottom: 2px;

}


span{
    color: var(--orange);
   
}
#span-1{
    font-weight: bold;

}

a{
    text-decoration: none;
    color: var(--orange);
    margin-right: 22px;
}

#footer{
  align-items: center;
  gap: 20px;
  margin-top: 72px;
   
}


#balls{
    display: flex;
    justify-content: flex-end;

}